/*Selector para fondo de las paginas web*/
#fondo1{
    background-image: url(../imagenes/fondo.jpg); 
}

#fondo2{
    background-image: url(../imagenes/fondo2.jpg); 
}

#fondo3{
    background-image: url(../imagenes/fondo3.jpg); 
}

#fondo4{
    background-image: url(../imagenes/fondo4.jpg); 
}

#fondo5{
    background-image: url(../imagenes/fondo5.jpg); 
}

#fondo6{
    background-image: url(../imagenes/fondo6.jpg); 
}
#fondo7{
    background-image: url(../imagenes/fondo7.jpg); 
}

.imagen{
    width: 450px;
    height: 450px;
}

#fondo1{
    background-image: url(../imagenes/fondo.jpg); 
}

h1{
    color: black;
    font-weight: initial;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6ch;
    font-style: italic;  
}
h2{
    color: white;
    font-weight: initial;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3ch;
    font-style: oblique;     
}
h3{
    color: tomato;
    font-weight: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-size: 3ch;
    font-style: unset;     
}

a{
    color:#1777FF;
    text-decoration: darkturquoise;
    animation: both;
}

a:link{
    color: #000;
}

a:visited{
    color: #EA35FF;
    background-color: #D1DDFF;

}

a:hover{
    background-color:#FCFF68;
}

a:active{
    color: black;
}

a:checked{
    color:darksalmon;
}

a:empty{
    color: gainsboro;
}

a:focus{
    color: #000;
}
.menu{
    background: darkolivegreen;
}

.menu ul{
    background: darkolivegreen;
    padding-top: 5px;
    border-radius: 15px;
}

.centro{
    background-position: 50% 50%;
}

.titulo{ 
    color: olivedrab; 
    text-decoration: unset;  
    font-family: cursive; 
    line-height: 50px;   
    font-size: 20px;
} 

p strong {color: blue}

p a{color: cornflowerblue}

#definicion{
    font-family: cursive; 
}

#anfi{
    color: #8A8E27;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario {
    width: 75%;
    background-color:darkorange;
}

.img1{
    background-position: 50% 50%;
    float:left;
}
.img2{
    background-position: 50% 50%;
    float:right;
}
.img3{
    background-position: 50% 50%;
    float:left;
}
.img4{
    background-position: 50% 50%;
    float:right;
}
.img5{
    background-position: 50% 50%;
    float:left;
}

#tabla{
    width: 25%;
    float: left;
}

#frm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menuPrincipal{
    border-width: 0px;
    background-color: aqua;
    width: 20%;
    border: 5px blue ridge;
    float: left;
}

#contenido {
    width: 75%;
    background-color: aqua;
    margin: 0px 0px 0px 5px;
    padding: 5px 20px 5px 20px;
    border: 5px blue ridge;
    float: left;
}

#footer{   
    width: 100%; 
    background-color: aqua; 
    margin-top: 10px;    
    margin-right: 10px;
    border-width:10px;    
    padding: 20px 20px; 
    border: 5px blue ridge;
    padding: 10px 200px 10px 200px;

    border-top-style: double;  
    border-bottom-style: double; 
    border-right-style: double;  
    border-left-style: double;     
    float:left;
}

h4{
    color: black;
    font-weight: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5{
    color: black;
    font-weight: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

h6{
    color: black;
    font-weight: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}