/*Selector para fondo de las paginas web*/
#fondo{
    background-image: url(../imagenes/fondo.png); 
}

.imagen{
    width: 450px;
    height: 450px;
}

h1{
    color: black;
    font-weight: initial;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6ch;
    font-style: italic;  
}

h2{
    color: white;
    font-weight: initial;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3ch;
    font-style: oblique;     
}

h3{
    color: tomato;
    font-weight: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-size: 3ch;
    font-style: unset;     
}

a{
    color: blue;
    text-decoration: darkturquoise;
    animation: both;
}

a:link{
    color: #000;
}

a:visited{
    color: deeppink;
    background-color: cornsilk;

}

a:hover{
    background-color: yellow;
}
a:active{
    color: black;
}

.menu{
    background: darkolivegreen;
}

.menu ul{
    background: darkolivegreen;
    padding-top: 5px;
    border-radius: 15px;
}


